* {
    padding: 0;
    margin: 0;
}
 html,body {
    background: black url(../imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
 }
 main {
    height: 100vh;
 }
 section#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url(../imagens/frame-iphone.png) center no-repeat;
    background-size: cover;

    width: 311px;
    height: 627px;
 }
 iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 472px;
 }
 section#redes {
    text-align: center;

 }
 section#redes img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 16px 5px black;
    margin: 10px;
    box-sizing: border-box;
 }
 section#redes img:hover {

    border: 2px solid rgb(0, 24, 241);
    transform: translate(-3px, -3px);
    transition: 0.2s;

 }