* {
    padding: 0px;
    margin: 0px;
}
 html,body {
    background: black url(../imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
 }
 section#telefone {
   margin-top: 10px;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%);
    background: url(../imagens/frame-iphone.png) center no-repeat;
    background-size: cover;
   padding: 0;
    width: 311px;
    height: 627px;
 }
 iframe#tela {
   margin-top: 10px;
    position: relative;
    top: 68px;
    left: 22px;
    width: 268px;
    height: 472px;
    border-radius: 5px;
 }
 section#redes {
   margin-top: 10vh;
    text-align: center;

 }
 section#redes img {
    height: 48px;
    width: 46px;
    border-radius: 50%;
    box-shadow: 1px 1px 16px 5px black;
    margin: 10px;
    box-sizing: border-box;
 }
 section#redes img:hover {

    border: 2px solid rgb(0, 24, 241);
    transform: translate(-3px, -3px);
    transition: 0.2s;

 }